.comparison
    position: relative
    margin: 0 auto
    width: 600px
    height: 330px

    &__image
        position: absolute
        left: 0
        top: 0

        &--color
            z-index: 1

        &--gray
            z-index: 0

